* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2 {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

input {
  display: block;
  border: none;
  outline: none;
}

.btn {
  padding: 14px 27px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Lato', sans-serif;

  &:active {
    transform: translateY(1px);
  }
}